body {
	width: 100%;
	height: 100%;
	background-image: url("skyline.jpg");
	background-repeat: no-repeat;
	background-position: 100% 100%;
	background-attachment: fixed;
	background-size: cover;
	border: 1px black;
	margin: 0 auto;
	font-family: center;
}
h1 {
	font-family: sans-serif;
	color:white;
	font-size: 600%;
	text-align: center;
}
li {
	display: inline;
	font-size: 200%;
}

.backgroundImage {
	width: 100%;
	height: 100%;
	background-image: url("skyline.jpg");
	background-repeat: no-repeat;
	background-position: center top;
	background-attachment: fixed;
	border: 1px black;
}

/*Wrappers for links*/
.box{
	width: 100%;
	margin-top: 0px;
	margin-bottom: 0px;
}
	.1-2 {
		position: relative;
		left: 0%;
	}
	.2-2 {
		position: relative;
		left: 50%;
	}
	.1-3 {
		position: relative;
		left: 0%;
	}

	.2-3 {
		position: relative;
		left: 33%;
	}

	.2-3 {
		position: relative;
		left: 66%;
	}
/*End of Wrappers for links*/

/* Hover features*/

	/*Hover for Text*/
		a {
			color: white;
			text-decoration: none;
		}
		a:hover{
			text-decoration: underline;
		}

	/*Hover for Images*/
		.Logo {
			opacity: 1;
		}
		.Logo:hover {
			opacity: 0;
		}
		.LogoHover{
			position:relative;
			left: -100px;
		}
		.LogoHover {
			opacity: 0;
		}
		.LogoHover:hover {
			opacity: 1;
		}