body {
	background-color: #2E2E2E;
}
h1 {
	font-family: sans-serif;
	color:white;
	font-size: 600%;
	text-align: center;
}
body {
	font-family: sans-serif;
}
.About {
	color: white;
	text-decoration: none;
}
.Resume {
	color: white;
	text-decoration: none;
}
.Facebook {
	margin: 0% 10% 0% 22%;
	height: 0%;
	width: 0%;
}
.GitHub {
	margin: -6em 10% 0% 45%;
	height: 0%;
	width: 0%;
}
.LinkedIn {
	margin: -7em 10% 0% 70%;
	height: 0%;
	width: 0%;
}
/*Hover to Text*/
.Hover span.Text {
	opacity: 1;
}
.Hover:hover span.Text {
	opacity: 0;
}
.Hover span.TextHover {
	position: absolute;
	margin-top: -5px;
	opacity: 0;
}
.Hover:hover span.TextHover {
	opacity: 1;
}

/*Hover for Images*/
.Hover span.Logo {
	opacity: 1;
}
.Hover:hover span.Logo {
	opacity: 0;
}
.Hover span.LogoHover {
	position: absolute;
	margin-top: -105px;
	opacity: 0;
}
.Hover:hover span.LogoHover {
	opacity: 1;
}