body {
	background-color: #2E2E2E;
}
h1 {
	font-family: sans-serif;
	color:white;
	font-size: 600%;
	text-align: center;
}
body {
	font-family: sans-serif;
}
<<<<<<< HEAD
/*Links*/
=======
.About {
	color: white;
	text-decoration: none;
}
.Resume {
	color: white;
	text-decoration: none;
}
>>>>>>> 5f504dbc4823d506a7d67983a02773ffabe4d6f8
.Facebook {
	margin: 0% 10% 0% 22%;
	height: 0%;
	width: 0%;
}
.GitHub {
	margin: -6em 10% 0% 45%;
	height: 0%;
	width: 0%;
}
.LinkedIn {
	margin: -7em 10% 0% 70%;
	height: 0%;
	width: 0%;
}
<<<<<<< HEAD
.Resume {
	font-size: 200%;
	margin: 3.5em 0% 0% 5%;
	text-align: center;
	vertical-align: middle;
	text-decoration: none;
	border-radius: 1em;
}
/* Hover features*/
=======
/*Hover to Text*/
.Hover span.Text {
	opacity: 1;
}
.Hover:hover span.Text {
	opacity: 0;
}
.Hover span.TextHover {
	position: absolute;
	margin-top: -5px;
	opacity: 0;
}
.Hover:hover span.TextHover {
	opacity: 1;
}

/*Hover for Images*/
>>>>>>> 5f504dbc4823d506a7d67983a02773ffabe4d6f8
.Hover span.Logo {
	opacity: 1;
}
.Hover:hover span.Logo {
	opacity: 0;
}
.Hover span.LogoHover {
	position: absolute;
	margin-top: -105px;
	opacity: 0;
}
.Hover:hover span.LogoHover {
	opacity: 1;
}
.Hover span.Text {
	color: black;
	border: 10px solid black;
	padding: 20px;
	padding-top: 60px;
	width: 150px;
	height: 90px;
	border-radius: 1em;
	opacity: 1;
}
.Hover:hover span.Text {
	opacity: 0;
}
.Hover span.TextHover {
	opacity: 0;
}
.Hover:hover span.TextHover {
	border: 10px solid white;
	padding: 20px;
	padding-top: 60px;
	width: 150px;
	height: 90px;
	border-radius: 1em;
	color: white;
	margin-left: -300px;
	opacity: 1;
}